<!-- <script id="templates/tlActivities.html" type="text/ng-template">  -->
<ion-view title="Unit Head Report (Activities)" id="page12" class=" " align="center">
    <ion-content padding="true" scroll="true"  class="has-header  has-footer">
        <p style="color:#255665;font-weight:300;text-align:center; font-size: 1.5em" class=" ">Welcome <b> {{data.fullname}} </b></p>
        <p style="color:#255665;text-align:center; font-size: 1.0em;" class=" "> {{data.currentWeekNumber}}</p>
        <div class="spacer" style="width: 300px; height: 2px;"></div>
      <div>
       <b>  <p style="color:#0c143a;font-size:18px;text-align:center;" class=" ">List your activities for the previous week</p> </b>
      </div>
      <div>
        <form name="activitiesForm1" ng-controller="activitiesCtrl" class="list " novalidate>
            <label class="item item-input">
                <textarea style="font-size: 1.2em" ng-model="data.activities1" placeholder="List Activities Here" rows="9"required></textarea>
              <!--
                <div class="item item-message" ng-if="step12Submitted && activitiesForm1.activities.$error.required">
                    It is required that you enter your activities
                </div>
                -->
            </label>

          <div align="center" style="margin-top: 5%">
            <button ui-sref="houPlans" ng-click="submit()" ng-disabled="!(data.activities1.length > 5)"  class=" button button-positive  icon-left ion-forward ">Next</button>
          </div>
        </form>
      </div>
    </ion-content>

  <div style="margin-top: 5%" class="bar bar-footer bar-dark">
    <h3 class="title">&copy; Edo ICTA</h3>
  </div>
</ion-view>
  <!--  </script>  -->
