<ion-view title="Unit Head Report (Challenges)" align="center"  id="page14" class=" ">
    <ion-content padding="true" scroll="true"  class="has-header">
     <!--   <h4  style="color:#000000;font-weight:400;text-align:center;" class=" ">Welcome {{data.username}}</h4>  -->
     <!--   <h4  style="color:#000000;text-align:center;" class=" ">Week {{Date.now()}}</h4> -->
        <div class="spacer" style="width: 300px; height: 11px;"></div>
      <div>
      <b>    <p style="color:#0D1B7A;font-size:18px;text-align:center;" class=" ">List your challenges for the current week</p></b>
      </div>
      <div>
        <form name="challengesForm1" ng-controller="challengesCtrl" class="list " novalidate>
            <label class="item item-input ">
                <textarea style="font-size: 1.2em" ng-model="data.challenges1" placeholder="List Challenges Here" rows="9"></textarea>
              <!--
                <div class="item item-message" ng-if="step14Submitted && challengesForm1.challenges.$error.required">
                    It is required that you enter your challenges
                </div> -->
            </label>
          <div align="center" style="margin-top: 5%">
            <button ui-sref="houPlans"  class=" button button-positive  icon-left ion-ios-undo ">Back</button>
            <button ui-sref="houSummary" ng-disabled="!(data.challenges1.length > 5)"  ng-click="submit()" class=" button button-positive  icon-right ion-forward ">Next</button>
          </div>
        </form>
      </div>
    </ion-content>

    <div style="margin-top: 5%" class="bar bar-footer bar-dark">
        <h3 class="title">&copy; Edo ICTA</h3>
    </div>

</ion-view>

