<ion-view title="MDA Reports Portal" id="page1" class=" "  ng-controller="loginCtrl">
   <!-- <ion-header-bar>
       <h4 class="title" align="center">MDA Reports Portal</h4>
    </ion-header-bar> -->
    <ion-content padding="true" style="max-height: 80%"  scroll="true" class="has-header has-footer">
        <div class="">
          <!--  <img src="img/yGL9XfRYRxadVLNsejJC_apple.jpg" width="200" height="auto" style="display: block; margin-left: auto; margin-right: auto;"> -->
         <img src="img/ictaimg.png" width="150" height="auto" style="display: block; margin-left: auto; margin-right: auto; padding-top : 2%;">
        </div>
       <!-- <div class="spacer" style="width: 285px; height: 10px;"></div> -->
        <div class="" style="height: 4%; margin-top: 5%">
          <h3 align="center"> <span style="color:#365d7e; font-stretch:extra-expanded; font-size: 0.85em;"  class="title"> Welcome to MDA Reports Portal </span> </h3>

        <form id="loginform" role="form" novalidate>

            <div class="list card">
                <div class="item-divider">
                    <p style="color:#365d7a;text-align:center;font-size: 1.0em;" class="title">Please Enter Login Credentials</p>
                </div>
                <label class="item item-input">
                    <span class="icon ion-ios-personadd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <input type="text" placeholder="Username" ng-model="data.username" class="form-control">
            <!--  <div class="item item-message" ng-if="step1Submitted && loginform.username.$error.required">Username is required</div> -->
                </label>
                <label class="item item-input">
                    <span class="icon ion-ios-unlocked">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <input type="password" placeholder="Password" ng-model="data.password" ng-disabled="!data.username"  class="form-control">
             <!--   <div class="item item-message" ng-if="step1Submitted && loginform.password.$error.required">Password is required</div> -->
                </label>
            </div>

            <div id="errors" align="center" style="color: red">
               <span id="errorMessage"> {{data.errorMsg}} </span>
            </div>
            <div align="center" class=" ">
               <button type="submit" id="submitLogin" ng-disabled="!data.password" ng-click="login()" style="font-weight:300;text-align:right;border-radius:10px 10px 10px 10px;" class=" button button-positive  button-outline icon ion-log-in ">
                 &nbsp;&nbsp;Log In</button>
            </div>
        </form>
        </div>
    </ion-content>

    <div style="margin-top: 5%" class="bar bar-footer bar-dark">
        <h4 class="title">&copy; Edo ICTA</h4>
    </div>
</ion-view>
