<ion-view title="Team Lead Report (Challenges)" align="center" id="page4" class=" ">
    <ion-content padding="true" scroll="true"  class="has-header">
        <!-- <h4 id="teamLeadReportChallenges-heading8" style="color:#000000;font-weight:400;text-align:center;" class=" ">Welcome {{data.username}}</h4> -->
      <!--  <h4 id="teamLeadReportChallenges-heading9" style="color:#000000;text-align:center;" class=" ">Week {{Date.now()}}</h4> -->
       <div class="spacer" style="width: 300px; height: 11px;"></div>
      <div>
       <b> <p style="color:#0D1B7A;font-size:18px;text-align:center;" class=" ">List your challenges in the current week</p> </b>
      </div>
      <div>
       <form name="challengesForm" ng-controller="challengesCtrl" class="list " novalidate>
           <label class="item item-input " id="teamLeadReportChallenges-textarea5">
               <textarea ng-model="data.challenges" placeholder="List Challenges Here" rows="9"></textarea>
               <div class="item item-message" ng-if="step4Submitted && challengesForm.challenges.$error.required">
                   It is required that you enter your challenges
               </div>
           </label>

         <div align="center" style="margin-top: 5%">
           <button ui-sref="tlSuggestions" class=" button button-positive  icon-left ion-ios-undo ">Back</button>
           <button ui-sref="tlPlans" ng-click="submit()"  ng-disabled="!data.challenges" class=" button button-positive  icon-right ion-forward ">Next</button>
         </div>
       </form>
      </div>
   </ion-content>

   <div class="bar bar-footer bar-dark">
       <h3 class="title">&copy; Edo ICTA</h3>
   </div>

</ion-view>

